<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger"><fl-app-sidebar></fl-app-sidebar></div>
  <div class="main-panel">
    <fl-app-navbar></fl-app-navbar>
    <div class="content">
      <div>count$: {{ count$ | async }}</div>
      <button (click)="countUp()" class="btn btn-default">countUp</button>
      <button (click)="countDown()" class="btn btn-default">countdown</button>

      <router-outlet></router-outlet>

      <router-outlet name="aux"></router-outlet>
    </div>
  </div>
</div>
